@using Microsoft.AspNet.Identity
@Styles.Render("~/Content/Style.css")

@{ViewBag.Title = "Home Page";}

<div>
    <div>
        @if (Request.IsAuthenticated) {
        <div>
            <h1>Your recent files</h1>
            @{Html.RenderAction("UsersFiles", "Home");}
        </div>
        <hr />
        }
        <div>
            @{ Html.RenderAction("Search", "Home"); }
        </div>
    </div>
</div>