@Styles.Render("~/Content/Style.css")
@Scripts.Render("~/bundles/vexflow")
@Scripts.Render("~/Scripts/editorFunctions.js")

@{
    ViewBag.Title = "Editor";
}

<div ng-app="EditorApp">
    <div id="editor_wrapper">
        <div ng-controller="CanvasController" id="canvas_wrapper">      
            <canvas id="composition" width="900" height="750"></canvas>
        </div>
        <div id="toolbar">
            <button class="note_button whole_note" id="WholeNote"></button>
            <button class="note_button half_note" id="HalfNote"></button>
            <button class="note_button quarter_note" id="QuarterNote"></button>
            <button class="note_button eighth_note" id="EighthNote"></button>
        </div>
    </div>
</div>
