@Styles.Render("~/Content/Style.css")
@Scripts.Render("~/bundles/vexflow")
@Scripts.Render("~/Scripts/editorFunctions.js")

@{
    ViewBag.Title = "Editor";
}

<div ng-app="EditorApp">
    <div id="editor_wrapper">
        <div ng-controller="CanvasController" id="canvas_wrapper">
            <canvas id="composition" width="900" height="1420"></canvas>
            <div id ="tab_control_toolbox">
                <button id="tabulate_button" ng-click="tabulateSong()">Generate Tab</button>
            </div>
        </div>
        <div ng-controller="ToolbarController" id="toolbar">
            <canvas id="chordSelect" width="135" height="180"></canvas>
            <button class="modifier_button clear_chord" id="ClearButton" ng-click ="clearChord()"></button>
            <button class="modifier_button up_note" ng-click ="raiseSelectedTone()"></button>
            <button class="modifier_button down_note" ng-click ="lowerSelectedTone()"></button>
            <button class="note_button whole_note" id="WholeNote" ng-class="{buttonSelected: isActive('w')}" ng-click="setActive('w')"></button>
            <button class="note_button half_note" id="HalfNote" ng-class="{buttonSelected: isActive('h')}" ng-click="setActive('h')"></button>
            <button class="note_button quarter_note" id="QuarterNote" ng-class="{buttonSelected: isActive('q')}" ng-click="setActive('q')"></button>
            <button class="note_button eighth_note" id="EighthNote" ng-class="{buttonSelected: isActive('8')}" ng-click="setActive('8')"></button>
        </div>
    </div>
</div>
